.photo-grid {
  max-width: 1184px;
  width: calc(100% - 24px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

@media screen and (max-width: 560px) {
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 12px;
    width: calc(100% - 16px);
  }
}

@media screen and (min-width: 561px) and (max-width: 1000px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 24px);
  }
}
