.place__image {
  grid-area: image;
  width: 100%;
}

@media screen and (max-width: 560px) {
  .place__image {
    margin-top: 30px;
    margin-bottom: 8px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}
