.lead__title {
  margin: 0;
  padding: 0;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  max-width: 793px;
  text-align: center;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .lead__title {
    line-height: 1.1;
  }
}

@media screen and (max-width: 339px) {
  .lead__title {
    font-size: 40px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 340px) and (max-width: 505px) {
  .lead__title {
    font-size: 60px;
  }
}

@media screen and (min-width: 340px) and (max-width: 768px) {
  .lead__title {
    margin-bottom: 99px;
  }
}
