.place {
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 152px 460px 1fr;
  grid-template-areas:
    "title artists"
    "image paragraphs"
    "button paragraphs";
  row-gap: 48px;
  column-gap: 40px;
}
