.place {
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "title artists"
    "image paragraphs"
    "button paragraphs"
    ". paragraphs";
  row-gap: 48px;
  column-gap: 40px;
}

@media screen and (max-width: 560px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "title"
      "artists"
      "image"
      "paragraphs"
      "button";
    row-gap: 0;
  }
}
