.button {
  margin: 0;
  padding: 0;
  grid-area: button;
  background-color: #0278fe;
  height: 48px;
  text-align: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s linear;
  text-decoration: none;
  color: inherit;
  z-index: 3;
}

.button:hover {
  background-color: #0063d2;
}
